@font-face {
  font-family: 'WoloFonts';
  src:url('../fonts/AER.otf')  format('truetype'); 
}

body{
  font-family: 'WoloFonts';
  margin:0;
  padding:0;
  -webkit-transition: all 4s ease-out;
  -moz-transition: all 4s ease-out;
  -o-transition: all 4s ease-out;
  transition: all 4s ease-out;
  
}

p{
  margin:0 0 10px;
}

a{
  text-decoration:none;
}

h1,h2,h3,h4,h5{
  margin:0;
  padding:0;
}

#containter-content {
    padding-right: 5px;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.pull-left{
  float:left;
}

.pull-right{
  float:right;
}

.box-point {
    -webkit-transition: background-color 4s ease-out;
    -moz-transition: background-color 4s ease-out;
    -o-transition: background-color 4s ease-out;
    transition: background-color 4s ease-out;
    background: #C4151C;
    color: #E3E3E3;
    width: 73px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    padding: 12px 0px 4px;
    font-weight: bold;
    margin-top: 7px;
}

.box-point .box-point-desc-count {
    font-size: 23px;
    font-weight: bold;
    font-family: 'Rockwell';
}

.box-point .box-point-desc {
    margin-top: 5px;
    font-size: 18px;
}

.change-money {
    position: relative;
    top: 23px;
    text-align: center;
    right: 0px;
}

.change-money .btn-change-money {
    padding: 5px 4px;
    display: inline-block;
    background: #FECE00;
    color: #C4151C;
    font-size: 12px;
    font-weight: bold;
    width: 81px;
    border-radius: 1072px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #070707;
}

.change-money .money-desc {
    color: #C4151C;
    font-size: 15px;
    font-weight: bold;
}

.info-user {
    padding: 5px 0 10px 6px;
    display: inline-block;
}

.info-user>h4 {
    margin: 0;
    font-size: 17px;
    letter-spacing: 2px;
}

.info-user h4 .icon-user{
  color: #C4151C;
}

.info-user .info-address {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 13px;
    padding-top: 2px;
}

.info-user .info-address>li{
  color: rgba(0, 0, 0, 0.50);
}

.score-area {
    padding: 12px 0;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.score-area h4 {
    color: #C4151C;
    font-size: 16px;
    margin: 0;
}

.score-area-statistik h4 {
    color: #C4151C;
    font-size: 22px;
    margin: 0;
}

.score-area .btn-score, .score-area-statistik .btn-score {
    background: #FECE00;
    color: #000;
    padding: 5px 0;
    width: 65px;
    border-radius: 70px;
    border: 1px solid #070707;
    font-size: 12px;
    display: inline-block;
}

.score-area-statistik .btn-score {
    padding: 5px 0;
    font-size: 12px;
}
/* Table Dashboard Area */

.dashboard-area {
    padding: 5px 0;
    display: inline-block;
    width: 100%;
}

.statistik-dashboard-area {
    padding: 7px 0;
    display: inline-block;
    width: 100%;
}

.dashboard-area h1, .statistik-dashboard-area h1 {
    font-size: 17px;
    color: #C4151C;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.statistik-dashboard-area h1 {
    font-size: 17px;
    margin-bottom: 5px;
}

table{
  width:100%;
  table-layout: fixed;
}

.tbl-header, .tbl-header-statistik{
  background-color: rgba(255,255,255,0.3);
}
 
.tbl-content, .tbl-content-statistik {
    height: 158px;
    overflow-x: auto;
    margin-top: 0px;
}

th {
    padding: 7px 0px;
    font-weight: 500;
    font-size: 11px;
    color: #222;
    text-transform: capitalize;
    text-align: center!important;
    border-bottom: solid 1px #070707;
}

th:first-child, .tbl-header-statistik th:first-child {
    padding: 0px 0;
    width: 60px;
}


.tbl-header-statistik th:first-child {
    text-align: center;
    font-size: 10px;
    width: 45px;
}

th:nth-child(2) {
    width: 76px;
    text-align: center;
}

.tbl-header-statistik th:nth-child(2) {
    width: 92px;
}

.tbl-header-statistik th:nth-child(3) {
    width: 53px;
}

.tbl-header-statistik th:nth-child(4) {
    width: 48px;
}

.tbl-header-statistik th:nth-child(5) {
    width: 37px;
}

.tbl-header-statistik th:nth-child(6) {
    width: 35px;
}

.tbl-header-statistik th:last-child {
    width: 35px;
}


th{

}

td {
    padding: 8px 0;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;    
    font-size: 11px;
    text-transform: lowercase;
    color: #C4151C;
    border-bottom: solid 1px #070707;
    border-left: solid 1px #070707;
}

td:first-child {
    border-left: 0;
    padding-left: 0;
}

.tbl-content-statistik td:first-child {
    border-left: solid 1px #070707;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    width: 47px;
}


.tbl-content-statistik td:nth-child(2) {
    width: 100px;
    padding-left: 11px;
}


.tbl-content-statistik td:nth-child(3) {
    width: 44px;
    text-align: center;
    padding: 0px;
}

td:nth-child(4), td:last-child {
    text-align: center;
}

.tbl-content-statistik td:last-child{
  border-right: solid 1px #070707;
}

/* End Table Dashboard Area */

.prestasi-area .title-prestasi {
    font-size: 21px;
    color: #C4151C;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    margin-bottom: 11px;
}

.prestasi-area {
    padding: 5px 0;
    display: inline-block;
    width: 100%;
}

.prestasi-area .info-box-prestasi {
    background: #C4151C;
    text-align: center;
    padding: 12px 5px 0;
    color: #fff;
    border-radius: 5px;
    height: 87px;
    margin-bottom: 5px;
}

.info-box-prestasi .title-info-box {
    font-size: 13px;
    min-height: 26px;
}


.info-count span {
    font-size: 10px;
}

.info-count.pull-left h4 {
    font-size: 20px;
}

.info-count h4 {
    font-size: 22px;
}

/* Statistik */
.btn-black {
    padding: 5px 0px;
    display: inline-block;
    background: #FECE00;
    color: #070707;
    font-size: 11px;
    font-weight: bold;
    width: 90px;
    border-radius: 70px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #070707;
}

.statistik-dashboard-area .btn-black {
  margin-top:17px;
}
/* End Statistik */



*{
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box; 
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7,  .col-8, .col-9, .col-10, .col-11, .col-12{
  float: left;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 1px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* detail news */
.card {
    margin-top: 5px;
    background: #fff;
}

.panel-body {
    display: inline-block;
    width: 100%;
    padding: 10px;
}

.main-title {
    font-size: 20px;
    line-height: 1.17em;
    margin-top: 5px;
    margin-bottom: 0;
    color: #C4151C;
}

.panel-body-user{
  padding:0;
  position:relative;
}

.media .media-left{
  padding-right:20px;
}

.profile-pict > img {
    border: solid 1px #070707;
  height:75px;
  width:75px;
  border-radius:50%;
}

.media-middle{  
  vertical-align:middle;
}
  
.media-left, .media-body{
  display:table-cell;
}

.media-body .media-heading{
  font-size:44px;
}

.text-muted {
    color: #777;
    font-size: 12px;
}

.detail-panel .panel-bottom-comment {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.detail-panel .panel-bottom-comment a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 120px;
    height: 120px;
    background-color: #C4151C;
    color: #fff;
    font-size: 50px;
}

.detail-panel .panel-bottom a.ion{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-indent: -1000em;
    vertical-align: middle; 
  margin: -3px 6px 0 0;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
}

.article-text {
    font-size: 17px;
    line-height: 1.41em;
}

.article-image{
  margin-bottom:10px;
  text-align:center;
}

.article-image > img {
    margin-bottom: 4px;
    width: 100%;
    vertical-align: middle;
}

.article-image .img-desc {
    display: inline-block;
    padding: 0 10px;
    font-size: 11px;
    line-height: 1.4em;
}

.editor-padding p {
    padding: 0 10px 0px;
    background-color: transparent;
    text-align: justify;
    font-size: 14px;
    margin-bottom: 2px;
}

/* end detail news */

/* news */
.card-content {
    padding: 0 10px;
}

.card-content h4 {
    color: #222;
    margin: 5px 0;
    font-size: 13px;
    text-align: justify;
}

.card-content p{
  text-align:justify;
}

hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #777;
}

.faqs-questions {
    color: #C4151C;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    padding: 10px;
}

.faqs-questions:first-child{
  border-top:0;
}

.faqs-questions h4, .faqs-answers h4 {
    font-size: 20px;
    padding-top: 5px;
}

.faqs-questions p, .faqs-answers p {
    padding-top: 7px;
    padding-left: 35px;
    font-size: 12px;
}

.faqs-answers {
    color: #485460;
    padding: 10px;
}

.faqs-answers p{
  font-size:12px !important;
}

.faqs-body{
  border:1px solid #777;
  border-radius: 2px;
}
/* end news */

/* news-empty */

.news-empty{
  text-align:center;
  padding-top:50px;
}

.news-empty img{
  height: 150px;
}
.news-empty p{
  margin:16px 0;
  font-size:24px;
}

/* end news-empty */


